#me{
	height:200px;
	width:200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin-top:50px;
}
.footer{
	width:100%;
	font-size:18px;
	line-height: 1.5;
	background-color: #333;
}
.about{
	width:100%;
	font-size:18px;
	line-height: 1.5;
	background-color: #333;
}

body {
   background-color: #cccccc;
   background-image: url('../images/croad.jpeg');
   background-size: cover;
   background-repeat: no-repeat;
   height:100vh;
   font-family: 'Open Sans', sans-serif;


}
h1{
	margin-bottom: 0;
	background-color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h2{
	width:100%;
	font-size:18px;
	line-height: 1.5;
	color: white;
	background-color: #333;
}
.container{
	width:500px;
	margin: 0 auto;
	text-align:center;
}

